*,
::after,
::before {
  box-sizing: border-box;
}

#header {
  vertical-align: top;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
}

#logo {
  object-fit: cover;
  width: 80%;
  height: 100%;
}

.row1 {
  text-align: center;
  /* border: green 1px solid; */
  height: 100%;
  width: 16.667%;
}

.headlink {
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.headlink > h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn1 {
  font-size: medium;
  margin-top: 20px;
  border-radius: 64px;
  height: 50%;
  width: 70%;
  background-color: lightgreen;
}

.btn1:hover {
  background-color: greenyellow;
}
#content {
  padding: 150px;
}

#bodycontent {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("med.jpg");
  /* background-repeat:no-repeat; */

  background-size: 100% 100%;
  object-fit: cover;
  overflow: auto;
  z-index: 0.5;

  color: darkgreen;
}

#btn2 {
  border-radius: 30px;
  height: 70px;
  width: 200px;
  background-color: lightgreen;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: blue; */
}

#modal-content {
  background-color: silver;
  margin: 20%;
}

.closeBtn {
  color: red;
  float: right;
}

.closeBtn:hover {
  color: black;
  background-color: violet;
}

#modal-header h2,
#modal-footer h3 {
  margin: 0;
}
#modal-header {
  background-color: green;
  padding: 10px;
  color: azure;
}

#modal-body {
  padding: 10px 20px;
}

#modal-footer {
  background-color: green;
  padding: 10px;
  color: azure;
  text-align: center;
}
