#headlink {
  text-align: center;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* background-color: blue; */
}

#modal-content {
  background-color: silver;
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
}

#modal-header h2,
#modal-footer h3 {
  margin: 0;
}
#modal-header {
  background-color: rgb(40, 149, 40);
  padding: 10px;
  color: azure;
  text-align: center;
}

#modal-body {
  padding: 10px 20px;
  text-align: center;
}

#modal-footer {
  background-color: rgb(45, 133, 45);
  padding: 10px;
  color: azure;
  font-size: medium;
  text-align: center;
}
